In [ ]:
# Install and use MySQL server on Google Colab
!pip install mysql-connector-python
!apt-get -y install mysql-server
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'admin';FLUSH PRIVILEGES;"

import mysql.connector

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='admin', host='localhost')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

# Create a new database named 'products'
cursor.execute("CREATE DATABASE IF NOT EXISTS products")

# Switch to the 'products' database
cursor.execute("USE products")

# Create the tables
cursor.execute('''
CREATE TABLE products (
    product_id INT AUTO_INCREMENT PRIMARY KEY,
    product_type ENUM('T-shirt', 'Shirt', 'Blouse', 'Pants', 'Shorts', 'Skirt') NOT NULL,
    brand ENUM('Levi', 'Nike', 'Adidas') NOT NULL,
    color ENUM('Red', 'Blue', 'Black', 'White') NOT NULL,
    size ENUM('XS', 'S', 'M', 'L', 'XL') NOT NULL,
    price INT CHECK (price BETWEEN 10 AND 50),
    stock_quantity INT NOT NULL,
    UNIQUE KEY brand_color_size (product_type, brand, color, size)
);
CREATE TABLE discounts (
    discount_id INT AUTO_INCREMENT PRIMARY KEY,
    product_id INT NOT NULL,
    pct_discount DECIMAL(5,2) CHECK (pct_discount BETWEEN 0 AND 100),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
''')

# Close the cursor and connection
cursor.close()
conn.close()

# Connect to the MySQL server and the 'products' database
conn = mysql.connector.connect(user='root', password='admin', host='localhost', database='products')
cursor = conn.cursor()

data = [
    (1, 'T-shirt', 'Nike', 'Black', 'XS', 18, 66),
    (2, 'Pants', 'Nike', 'Red', 'S', 23, 58),
    (3, 'Shorts', 'Adidas', 'White', 'M', 21, 86),
    (4, 'Blouse', 'Nike', 'White', 'XS', 20, 80),
    (5, 'T-shirt', 'Levi', 'Red', 'XL', 45, 45),
    (6, 'Blouse', 'Levi', 'Blue', 'L', 14, 61),
    (7, 'Shorts', 'Nike', 'White', 'XL', 21, 85),
    (8, 'T-shirt', 'Levi', 'Black', 'L', 13, 16),
    (9, 'Shirt', 'Levi', 'Black', 'XL', 41, 93),
    (10, 'Shorts', 'Levi', 'Black', 'L', 35, 26),
    (11, 'Pants', 'Levi', 'Black', 'XL', 32, 95),
    (12, 'Shirt', 'Levi', 'Blue', 'L', 38, 37),
    (13, 'Blouse', 'Nike', 'Blue', 'L', 14, 70),
    (14, 'T-shirt', 'Levi', 'Black', 'XS', 23, 39),
    (15, 'Shirt', 'Nike', 'Blue', 'S', 16, 93),
    (16, 'Skirt', 'Levi', 'Blue', 'XS', 35, 66),
    (17, 'T-shirt', 'Levi', 'White', 'M', 46, 73),
    (18, 'Shirt', 'Adidas', 'White', 'XS', 15, 43),
    (19, 'Skirt', 'Nike', 'Black', 'S', 44, 19),
    (20, 'Shorts', 'Levi', 'Black', 'XL', 42, 28),
    (21, 'Blouse', 'Nike', 'Blue', 'S', 45, 29),
    (22, 'Pants', 'Nike', 'White', 'S', 35, 48),
    (23, 'T-shirt', 'Levi', 'Blue', 'XL', 14, 10),
    (24, 'Blouse', 'Adidas', 'Blue', 'XL', 46, 64),
    (25, 'Shorts', 'Levi', 'Red', 'S', 12, 46),
    (26, 'Skirt', 'Adidas', 'Blue', 'M', 50, 34),
    (27, 'Skirt', 'Nike', 'Black', 'L', 38, 25),
    (28, 'Shirt', 'Adidas', 'Red', 'S', 29, 69),
    (29, 'Blouse', 'Adidas', 'Blue', 'S', 48, 60),
    (30, 'T-shirt', 'Adidas', 'White', 'XL', 31, 30),
    (31, 'Skirt', 'Nike', 'Red', 'XS', 19, 68),
    (32, 'Pants', 'Nike', 'Black', 'L', 15, 54),
    (33, 'Shorts', 'Levi', 'Blue', 'L', 20, 38),
    (35, 'Pants', 'Levi', 'White', 'XS', 37, 97),
    (36, 'T-shirt', 'Adidas', 'Red', 'XS', 45, 36),
    (37, 'Pants', 'Adidas', 'Red', 'XL', 33, 92),
    (38, 'Shirt', 'Adidas', 'Black', 'S', 12, 34),
    (39, 'Skirt', 'Levi', 'White', 'XS', 27, 13),
    (40, 'Shirt', 'Adidas', 'White', 'XL', 30, 63),
    (42, 'Pants', 'Adidas', 'Blue', 'S', 32, 69),
    (43, 'Shirt', 'Nike', 'Red', 'S', 50, 11),
    (44, 'Blouse', 'Levi', 'White', 'M', 23, 38),
    (45, 'Skirt', 'Nike', 'White', 'S', 45, 68),
    (46, 'Skirt', 'Nike', 'White', 'M', 37, 13),
    (48, 'Pants', 'Levi', 'White', 'S', 41, 84),
    (49, 'Blouse', 'Adidas', 'Red', 'XL', 20, 63),
    (51, 'T-shirt', 'Levi', 'White', 'XL', 48, 19),
    (52, 'Shirt', 'Adidas', 'Blue', 'L', 23, 77),
    (53, 'Shirt', 'Adidas', 'Red', 'L', 33, 58),
    (55, 'Shorts', 'Adidas', 'Blue', 'L', 39, 26),
    (58, 'Shorts', 'Adidas', 'Red', 'XS', 33, 52),
    (59, 'Pants', 'Nike', 'Blue', 'XS', 35, 63),
    (60, 'Blouse', 'Levi', 'Red', 'S', 13, 60),
    (61, 'Skirt', 'Nike', 'Blue', 'L', 14, 72),
    (62, 'Pants', 'Levi', 'Blue', 'XL', 10, 14),
    (65, 'T-shirt', 'Adidas', 'Black', 'XS', 22, 33),
    (66, 'T-shirt', 'Nike', 'Blue', 'M', 44, 45),
    (67, 'T-shirt', 'Nike', 'Black', 'L', 44, 46),
    (68, 'Shirt', 'Nike', 'Blue', 'XL', 41, 42),
    (69, 'Shirt', 'Nike', 'Black', 'S', 28, 62),
    (70, 'T-shirt', 'Nike', 'Black', 'XL', 49, 89),
    (71, 'Shorts', 'Nike', 'Black', 'XL', 31, 86),
    (72, 'Skirt', 'Adidas', 'Blue', 'L', 11, 88),
    (73, 'Pants', 'Levi', 'Red', 'M', 41, 16),
    (74, 'T-shirt', 'Levi', 'Red', 'L', 20, 10),
    (75, 'T-shirt', 'Levi', 'White', 'S', 33, 12),
    (77, 'Pants', 'Nike', 'Black', 'XL', 41, 28),
    (78, 'T-shirt', 'Adidas', 'Blue', 'L', 44, 45),
    (79, 'Skirt', 'Nike', 'Red', 'M', 41, 38),
    (81, 'Blouse', 'Levi', 'Black', 'M', 22, 38),
    (84, 'Blouse', 'Levi', 'White', 'XL', 40, 22),
    (85, 'Skirt', 'Nike', 'Blue', 'M', 35, 71),
    (88, 'Pants', 'Nike', 'White', 'XS', 24, 66),
    (89, 'Shirt', 'Levi', 'Red', 'M', 26, 59),
    (90, 'Skirt', 'Nike', 'White', 'L', 38, 53),
    (91, 'Shirt', 'Nike', 'Black', 'L', 22, 23),
    (92, 'Shorts', 'Adidas', 'White', 'XL', 26, 47),
    (93, 'T-shirt', 'Adidas', 'Black', 'L', 48, 60),
    (96, 'T-shirt', 'Nike', 'Blue', 'S', 49, 10),
    (97, 'Pants', 'Levi', 'Blue', 'XS', 24, 57),
    (98, 'Shirt', 'Nike', 'Black', 'M', 42, 37),
    (99, 'Pants', 'Levi', 'Black', 'XS', 18, 53),
    (100, 'Blouse', 'Adidas', 'Black', 'XS', 36, 90),
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO products (product_id, product_type, brand, color, size, price, stock_quantity)
            VALUES (%s, %s, %s, %s, %s, %s, %s);
''', data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

# Connect to the MySQL server and the 'products' database
conn = mysql.connector.connect(user='root', password='admin', host='localhost', database='products')
cursor = conn.cursor()

data = [
    (1, 1, 10),
    (2, 2, 15),
    (3, 3, 20),
    (4, 4, 5),
    (5, 5, 25),
    (6, 6, 10),
    (7, 7, 30),
    (8, 8, 35),
    (9, 9, 40),
    (10, 10, 45)
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO discounts (discount_id, product_id, pct_discount)
            VALUES (%s, %s, %s);
''', data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

In [ ]:
# Install needed libraries on Google Colab
pip install langchain_community langchain pymysql chromadb

In [ ]:
# Import necessary libraries
import os
from google.colab import userdata
from langchain_community.utilities.sql_database import SQLDatabase
from langchain.chains import create_sql_query_chain
from langchain_community.llms import GooglePalm
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate, ChatPromptTemplate, FewShotChatMessagePromptTemplate, MessagesPlaceholder
from langchain_core.runnables import RunnablePassthrough
from langchain_community.vectorstores import Chroma
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_community.embeddings import GooglePalmEmbeddings

In [ ]:
# Retrieve API keys and credentials from Google Colab's user data
google_api_key = userdata.get('GOOGLE_API_KEY')
langchain_api_key = userdata.get('LANGCHAIN_API_KEY')

# Set the Google API key and LangChain Key (for tracing) as environment variables
os.environ['GOOGLE_API_KEY'] = google_api_key
os.environ['LANGCHAIN_TRACING_V2'] = 'true'
os.environ['LANGCHAIN_API_KEY'] = langchain_api_key

# Retrieve database credentials from Google Colab's user data
db_user = userdata.get('DB_USER')
db_password = userdata.get('DB_PASSWORD')
db_host = "localhost"
db_name = "products"

In [ ]:
# Define few-shot examples for training the model
few_shots = [
    {
        "input": "What is the price of all white small skirts we have in inventory",
        "query": "select sum(price*stock_quantity) from products where product_type = 'Skirt' and color = 'white' and size = 'S'"
    },
    {
        "input": "How many Adidas black t-shirts do we have left",
        "query": "select sum(stock_quantity) from products where product_type = 'T-shirt' and brand = 'Adidas' and color = 'Black'"
    },
    {
        "input": "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate?",
        "query" : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount, 0))/100)) as total_revenue from
        (select sum(price*stock_quantity) as total_amount, product_id from products where brand = 'Levi' and product_type = 'T-shirt'
        group by product_id) a left join discounts on a.product_id = discounts.product_id"""
    },
    {
        "input" : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
        "query": "SELECT SUM(price*stock_quantity) FROM products WHERE brand = 'Levi' and product_type = 'T-shirt'"
    },
    {
        "input": "how much sales amount will be generated if we sell all large size t-shirts today in nike brand after discounts?",
        "query" : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount, 0))/100)) as total_revenue from
        (select sum(price*stock_quantity) as total_amount, product_id from products where brand = 'Nike' and product_type = 'T-shirt' and size = 'L'
        group by product_id) a left join discounts on a.product_id = discounts.product_id"""
    }
    ]

In [ ]:
# Initialize a Chroma vector store and delete existing collections
vectorstore = Chroma()
vectorstore.delete_collection()

# Create a semantic similarity example selector
example_selector = SemanticSimilarityExampleSelector.from_examples(
    few_shots,
    GooglePalmEmbeddings(),
    vectorstore,
    k=2,
    input_keys=["input"]
)

In [ ]:
# Define a chat prompt template for examples
example_prompt = ChatPromptTemplate.from_messages(
    [
        "\nQuestion: {input}\nSQLQuery: {query}"
    ]
)

# Define a few-shot chat message prompt template
few_shots_prompt = FewShotChatMessagePromptTemplate(
    example_prompt=example_prompt,
    example_selector=example_selector,
    input_variables=["input", "top_k"]
)

In [ ]:
# Connect to the MySQL database using the SQLDatabase utility
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

# Initialize the GooglePalm language model
llm = GooglePalm(google_api_key=google_api_key, temperature=0.1)

# Define the final prompt template for generating SQL queries
final_prompt = ChatPromptTemplate.from_messages(
    [
        "You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.\n\nHere is the relevant table info: {table_info}\n\nBelow are a number of examples of questions and their corresponding SQL queries.",
        few_shots_prompt,
        "{input}"
    ]
)
# Define a prompt template for rephrasing the answer into a human form
answer_prompt = PromptTemplate.from_template(
    """
    Given the following user question, corresponding SQL query, and SQL result, return the Answer putting it into a sentence using the user question.

    Question: {question}
    SQL Query: {query}
    SQL Result: {result}
    Answer:
    """
)
# Define a rephrase answer chain
rephrase_answer = answer_prompt | llm | StrOutputParser()

# Create a chain to generate SQL queries
generate_query = create_sql_query_chain(llm, db, final_prompt)
execute_query = QuerySQLDataBaseTool(db=db)

# Define the final chain to process the query and return the answer
chain = (
    RunnablePassthrough.assign(query=generate_query).assign(
        result=itemgetter("query") | execute_query
    ) | rephrase_answer
)

In [ ]:
chain.invoke({"question": "How many Adidas Black t-shirts do we have left"})

'We have 93 Adidas Black t-shirts left.'

In [ ]:
chain.invoke({"question": "How much is the total price of the inventory for all extra small size t-shirts?"})

'The total price of the inventory for all extra small size t-shirts is 4431.'

In [ ]:
chain.invoke({"question": "Do we have any discounts on shorts?"})

'Yes, we have 3 discounts on shorts.'

In [ ]:
chain.invoke({"question": "What are the discounts we have on shorts?"})

'The discounts we have on shorts are 20%, 30% and 45%.'

In [ ]:
chain.invoke({"question": "What are the discounts we have on shorts? What is the brand and size for each short on discount?"})

'The discounts we have on shorts are 20% off Adidas M, 30% off Nike XL and 45% off Levi L.'

In [ ]:
chain.invoke({"question": "If we have to sell all the Adidas shorts today with discounts applied. How much revenue our store will generate?"})

'If we have to sell all the Adidas shorts today with discounts applied. Our store will generate 5396.80 revenue.'

In [ ]:
chain.invoke({"question": "If we have to sell all the Adidas shorts today without discounts applied. How much revenue our store will generate?"})

'If we have to sell all the Adidas shorts today without discounts applied. Our store will generate 5758 revenue.'

In [ ]:
chain.invoke({"question": "What would be the revenue difference if we sell all the Adidas shorts without discounts and with discounts applied?"})

'The revenue difference if we sell all the Adidas shorts without discounts and with discounts applied is 361.20.'